* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.upper-case{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

body{

}

.container{
    max-width: 1170px;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
}

.header-top{
    background-color: #69BF14;
}

.header-top-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-top-left a{
    color: #FEFEFE;
}

.header-top-left a span{
    font-size: 13px;
}

.header-top-left a i{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 5px;
}

.header-top-right a{
    color: #FEFEFE;
    margin: 0 10px 0 10px;
}

.header-bottom{
    background-color: #FEFEFE;
}

.header-bottom-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bottom-left{
    width: 50%;
}

.header-bottom-left img{
    margin: 20px 0px 10px 0px;
}

.header-bottom-right{
    width: 100%;
}

.header-bottom-right-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bottom-right-item{
    font-weight: 900;
    font-size: 16px;
    color: #262727;
}

.header-bottom-right-item:hover{
    color: #69BF14;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.slogan{
    width: 100%;
    background-image: url("img/avada-movers-homeherobackground-final.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.slogan-wrapper h1{
    font-size: 64px;
    color: #262727;
    font-weight: bold;
}

.slogan-wrapper h4{
    font-size: 16px;
    color: #AFAEAE;
    font-weight: bold;
}

.slogan .slogan-quote{
    width: 100%;
    align-self: baseline;
    border-radius: 0;
    padding: 50px;
}

.slogan .slogan-quote i{
    margin-right: 5px;
}

.headache{
    background-image: linear-gradient(#F1F5F9, #FAFCFE);
    padding-top: 8%;
    padding-right: 30px;
    padding-bottom: 7%;
    padding-left: 30px;
}

.headache-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.headache-text h1{
    font-size: 64px;
    color: #69BF14;
    font-weight: bold;
    margin-bottom: 20px;
}

.headache-text h4{
    font-size: 16px;
    color: #AFAEAE;
    font-weight: bold;
    margin-bottom: 20px;
}

.headache-text .headache-button{
    margin: 14px auto 0 auto;
}

.solution{
    background-color: #FEFEFE;
    padding-top: 7%;
    padding-right: 30px;
    padding-bottom: 7%;
    padding-left: 30px;
}

.solution-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution-wrapper .solution-title h1{
    font-size: 47;
    color: #69BF14;
    font-weight: bold;
    margin-bottom: 20px;
}

.solution-wrapper .solution-title h4{
    font-size: 16px;
    color: #AFAEAE;
    font-weight: bold;
    margin-bottom: 20px;
}

.solution-wrapper .solution-options{
    display: flex;
    justify-content: space-around;
}

.solution-wrapper .solution-options .solution-option{
    background-color: #F2F5F8;
    padding: 20px;
    margin: 0 10px;
}

.solution-wrapper .solution-options .solution-option .solution-option-img img{
    width: 100%;
}

.solution-wrapper .solution-options .solution-option .solution-option-text{
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.solution-option-text .solution-option-title{
    margin-bottom: 20px;
}

.solution-option-text .solution-option-title span{
    font-weight: bold;
    font-size: 27px;
    color: #007cba;
}

.solution-option-text .solution-option-content{
    margin-bottom: 20px;
}

.solution-option-text .solution-option-content p{
    color: #585858;
    font-size: 16px;
}

.solution-option-text .solution-option-button{
    margin-bottom: 20px;
}

.ease{
    width: 100%;
    background-image: url("img/avada-movers-movewithease-background-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
    padding-right: 30px;
    padding-bottom: 7%;
    padding-left: 30px;
}

.ease .container{
    display: flex;
    justify-content: flex-end;
}

.ease-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5AA510;
    color: white;
    padding: 15px;
}

.ease-box-content{
    padding: 30px;
    background: #6ABF16;
}

.ease-box .ease-box-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.ease-box .ease-box-title h3{
    font-size: 16px;
    margin: 10px 0;
}

.ease-box .ease-box-title .ease-box-title-container{
    border-bottom: 1px solid #93f236;
    padding: 0 10px;
}

.ease-box .ease-box-title h1{
    font-size: 47px;
    margin-bottom: 10px;
}

.ease-box .ease-box-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ease-box .ease-box-wrapper .ease-box-text{
    padding: 10px 20px 20px 20px;
}

.ease-box .ease-box-wrapper .ease-box-text p{
    margin-bottom: 10px;
}

.ease-box .ease-box-wrapper .ease-box-button{
    margin-bottom: 20px;
}


.button{
    color: #FEFEFE;
    background-color: #1975C0;
    padding: 13px 29px;
    border-radius: 25px;
    border-color: #FEFEFE;
    transition: all .2s;
    font-weight: bold;
}

.button:hover{
    color: white;
    background-color: #3294e2;
}
